
.stepper-container {
  position: relative;
  display: flex;
  .stepper-nav {
    position: relative;
    display: flex;
    width: 30%;
  }
  .stepper-content {
    position: relative;
    display: flex;
    width: 70%;
    flex-direction: column;
    padding-left: 24px;
  }
  .stepper-controls {
    position: relative;
    display: flex;
    flex-direction: row;
    .left {
      display: flex;
      width: 50%;
    }
    .right {
      display: flex;
      width: 50%;
      justify-content: flex-end;
    }
  }
}

.profiling {
  position: relative;
  display: block;
  width: 100%;
}