<fw-header></fw-header>
<div class="fw-page-container">

  <div class="fw-content-area">
    <div class="stepper-container">
      <div class="stepper-nav">

      </div>
      <div class="stepper-content">
        <form [formGroup]="profiling">
          <!-- step 1 -->
          @if (stepper.currentStep===1) {
            <section class="fw-form-section" formGroupName="userLoginInfo">
              <h4 class="m-b-1_5x">Create Account</h4>
              <div class="fw-form-el-wrap">
                <label for="email">Email</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="email" type="text" formControlName="email" (blur)="isEmailExists()">
                  @if (isFormValueInvalid.email) {
                    <div class="text-sm text-error">
                      {{hasFormError.email}}
                    </div>
                  }
                </div>
                <div class="fw-form-el-extn">
                  @if (checkingEmail) {
                    <!-- loading spinner -->
                  }
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="password">Password</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="password" type="password" formControlName="password">
                  <div class="text-sm">
                    <span [innerHTML]="helperText.password"></span>
                  </div>
                  @if (isFormValueInvalid.password) {
                    <div class="text-sm text-error">{{hasFormError.password}}</div>
                  }
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="repassword">Confirm Password</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="repassword" type="password" formControlName="rePassword">
                  @if (isFormValueInvalid.rePassword) {
                    <div class="text-sm text-error">{{hasFormError.rePassword}}</div>
                  }
                </div>
              </div>
            </section>
          }

          <!-- step 2 -->
          @if (stepper.currentStep===2) {
            <section class="fw-form-section" formGroupName="userInfo">
              <h4 class="m-b-1_5x">Personal Information</h4>
              <div class="fw-form-el-wrap">
                <label for="firstname">First Name</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="firstname" type="text" formControlName="firstName">
                  @if (isFormValueInvalid.firstName) {
                    <div class="text-sm text-error">
                      <span>{{hasFormError.firstName}}</span>
                    </div>
                  }
                </div>
              </div>
              
              <div class="fw-form-el-wrap">
                <label for="lastname">Last Name</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="lastname" type="text" formControlName="lastName">
                  @if (isFormValueInvalid.lastName) {
                    <div class="text-sm text-error">
                      <span>{{hasFormError.lastName}}</span>
                    </div>
                  }
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="city">City</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="city" type="text" formControlName="city">
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="country">Country</label>
                <div class="fw-form-el">
                  <fw-combobox formControlName="country"
                    [dataOptions]="countryList"
                    [dataKey]="'countryName'"
                  >  
                  </fw-combobox>
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="phone">Phone</label>
                <div class="fw-grouped-inputs">
                  <div class="fw-input-phonecode">
                    <select class="fw-form-select" name="phoneCode" id="phoneCode" formControlName="phoneCode">
                      @for (code of phoneCodeList; track code) {
                        <option [value]="code">{{code}}</option>
                      }
                    </select>
                  </div>
                  <div class="fw-input-phonenum">
                    <input class="fw-form-input" id="phone" type="text" formControlName="phone">
                  </div>
                </div>
              </div>
            </section>
          }

          <!-- step 3 -->
          @if (stepper.currentStep===3) {
            <section class="fw-form-section" formArrayName="userExpForm">
              <h4 class="m-b-1_5x">Work Experience</h4>
              <p>Please list your work experience, starting with the most recent.</p>
              @for (userExpItem of experienceFormGroup.controls; track userExpItem; let i=$index) {
                <div [formGroupName]="i">
                  <div class="fw-form-section-head">
                    <h6>Experience {{i+1}}</h6>
                    @if (i!==0) {
                      <button class="fw-form-action-remove" (click)="removeExp(i)">Remove</button>
                    }
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="jobTitle">Job Title</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="jobTitle" type="text" formControlName="jobTitle">
                    </div>
                  </div>
      
                  <div class="fw-form-el-wrap">
                    <label for="organisation">Company</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="organisation" type="text" formControlName="organisation">
                    </div>
                  </div>

                  <div class="fw-form-el-wrap">
                    <label for="jobType">Job Type</label>
                    <div class="fw-form-el">
                      <select class="fw-form-select" id="jobType" formControlName="jobType">
                        <option value="">Please Select</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="Contract">Contract</option>
                      </select>
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="location">Location</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="location" type="text" formControlName="location">
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="locationType">Location Type</label>
                    <div class="fw-form-el">
                      <select class="fw-form-select" id="locationType" formControlName="locationType">
                        <option value="">Please select</option>
                        <option value="On Site">On Site</option>
                        <option value="Hybrid">Hybrid</option>
                        <option value="Remote">Remote</option>
                      </select>
                    </div>
                  </div>
      
                  <div class="fw-form-el-wrap">
                    <label for="jobStartDate">Start Date</label>
                    <div class="fw-grouped-inputs">
                      <div class="fw-input-month">
                        <select class="fw-form-select" formControlName="jobStartMonth">
                          @for (month of monthRange; track month) {
                            <option [value]="month.id">
                              {{month.name}}
                            </option>
                          }
                        </select>
                      </div>
                      <div class="fw-input-year">
                        <select class="fw-form-select" formControlName="jobStartYear">
                          @for (year of yearRange; track year) {
                            <option [value]="year">
                              {{year}}
                            </option>
                          }
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="fw-form-el-wrap">
                    <label for="jobEndDate">End Date</label>
                    <div class="fw-form-el">
                      <div class="fw-grouped-inputs">
                        <div class="fw-input-month">
                          <select class="fw-form-select" formControlName="jobEndMonth">
                            @for (month of monthRange; track month) {
                              <option [value]="month.id">
                                {{month.name}}
                              </option>
                            }
                          </select>
                        </div>
                        <div class="fw-input-year">
                          <select class="fw-form-select" formControlName="jobEndYear">
                            @for (year of yearRange; track year) {
                              <option [value]="year">
                                {{year}}
                              </option>
                            }
                          </select>
                        </div>
                      </div>
                      <div class="text-sm">
                        <span [innerHTML]="helperText.endDate"></span>
                      </div>
                    </div>
                  </div>
      
                  <div class="fw-form-el-wrap">
                    <label for="jobDesc">Description</label>
                    <div class="fw-form-el">
                      <textarea class="fw-form-textarea" id="jobDesc" formControlName="jobDesc"></textarea>
                    </div>
                  </div>
                </div>
              }
  
              <div class="fw-form-section-footer">
                <button class="fw-form-section-btn" (click)="addExp()">Add Another</button>
              </div>
  
            </section>
          }  

          <!-- step 4 -->
          @if (stepper.currentStep===4) {
            <section class="fw-form-section" formArrayName="userEduForm">
              <h4 class="m-b-1_5x">Educational Qualification</h4>
              <p>Please list your education, starting with the most recent.</p>
              @for (userEduItem of educationFormGroup.controls; track userEduItem; let j=$index) {
                <div [formGroupName]="j">
                  <div class="fw-form-section-head">
                    <h6>Education {{j+1}}</h6>
                    @if (j!==0) {
                      <button class="fw-form-action-remove" (click)="removeEdu(j)">Remove</button>
                    }
                  </div>
                  <div class="fw-form-el-wrap">
                    <label for="institution">School / University</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="institution" type="text" formControlName="institution">
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="degree">Degree</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="degree" type="text" formControlName="degree">
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="specialization">Field of study</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="specialization" type="text" formControlName="specialization">
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="eduStartDate">Start Date</label>
                    <div class="fw-grouped-inputs">
                      <div class="fw-input-month">
                        <select class="fw-form-select" formControlName="eduStartMonth">
                          @for (month of monthRange; track $index) {
                            <option [ngValue]="month.id">
                              {{month.name}}
                            </option>
                          }
                        </select>
                      </div>
                      <div class="fw-input-year">
                        <select class="fw-form-select" formControlName="eduStartYear">
                          @for (year of yearRange; track $index) {
                            <option [ngValue]="year">
                              {{year}}
                            </option>
                          }
                        </select>
                      </div>
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="eduEndDate">Completion Date</label>
                    <div class="fw-form-el">
                      <div class="fw-grouped-inputs">
                        <div class="fw-input-month">
                          <select class="fw-form-select" formControlName="eduEndMonth">
                            @for (month of monthRange; track $index) {
                              <option [ngValue]="month.id">
                                {{month.name}}
                              </option>
                            }
                          </select>
                        </div>
                        <div class="fw-input-year">
                          <select class="fw-form-select" formControlName="eduEndYear">
                            @for (year of yearRange; track $index) {
                              <option [ngValue]="year">
                                {{year}}
                              </option>
                            }
                          </select>
                        </div>
                      </div>
                      <div class="text-sm">
                        <span [innerHTML]="helperText.completionDate"></span>
                      </div>
                    </div>
                  </div>
    
                  <div class="fw-form-el-wrap">
                    <label for="grade">Grade/GPA/CGPA</label>
                    <div class="fw-form-el">
                      <input class="fw-form-input" id="grade" type="text" formControlName="grade">
                    </div>
                  </div>
                </div>
              }
              
              <div class="fw-form-section-footer">
                <button class="fw-form-section-btn" (click)="addEdu()">Add Another</button>
              </div>
            </section>
          }
        </form>

        <div class="stepper-controls">
          <div class="left">
            @if (stepper.currentStep!==1) {
              <button class="fw-form-btn" (click)="gotoPrev()">Previous</button>
            }
            
          </div>
          <div class="right">
            @if (stepper.currentStep===stepper.maxStep) {
              <button class="fw-form-prime-btn" (click)="gotoNext()">Finish</button>
            }
            @else {
              <!-- Except step 4 -->
              <button class="fw-form-blue-btn" (click)="gotoNext()">Next</button>
            }
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


@if (creatingProfile) {
  <div class="fw-status-modal-wrap">
    <section class="inner">
      <h2>You're almost done..!</h2>
      <p>We are creating your profile. It will take a moment to create your profile. Please don't close the browser window until the status is completed.</p>
    </section>
  </div>
}
