<fw-header></fw-header>
<div class="fw-page-container">

  <div class="fw-content-area">
    <div class="stepper-container">
      <div class="stepper-nav">

      </div>
      <div class="stepper-content">
        <form [formGroup]="profiling">
          <!-- step 1 -->
          <section class="fw-form-section" formGroupName="userLoginInfo" *ngIf="stepper.currentStep===1">
            <h4 class="m-b-1_5x">Create Account</h4>
            <div class="fw-form-el-wrap">
              <label for="email">Email</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="email" type="text" formControlName="email">
              </div>
              <div class="fw-form-el-extn">
                loading
              </div>
            </div>

            <div class="fw-form-el-wrap">
              <label for="password">Password</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="password" type="password" formControlName="password">
                <div class="fw-form-helper-text">
                  <span [innerHTML]="helperText.password"></span>
                </div>
              </div>
            </div>

            <div class="fw-form-el-wrap">
              <label for="repassword">Confirm Password</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="repassword" type="password" formControlName="rePassword">
              </div>
            </div>
          </section>

          <!-- step 2 -->
          <section class="fw-form-section" formGroupName="userInfo" *ngIf="stepper.currentStep===2">
            <h4 class="m-b-1_5x">Personal Information</h4>
            <div class="fw-form-el-wrap">
              <label for="firstname">First Name</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="firstname" type="text" formControlName="firstName">
              </div>
            </div>
            
            <div class="fw-form-el-wrap">
              <label for="lastname">Last Name</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="lastname" type="text" formControlName="lastName">
              </div>
            </div>

            <div class="fw-form-el-wrap">
              <label for="city">City</label>
              <div class="fw-form-el">
                <input class="fw-form-input" id="city" type="text" formControlName="city">
              </div>
            </div>

            <div class="fw-form-el-wrap">
              <label for="country">Country</label>
              <div class="fw-form-el">
                <fw-combobox formControlName="country"
                  [dataOptions]="countryList"
                  [dataKey]="'countryName'"
                >  
                </fw-combobox>
              </div>
            </div>

            <div class="fw-form-el-wrap">
              <label for="phone">Phone</label>
              <div class="fw-grouped-inputs">
                <div class="fw-input-phonecode">
                  <select class="fw-form-select" name="phoneCode" id="phoneCode" formControlName="phoneCode">
                    <option *ngFor="let item of phoneCodeList" [value]="item.dial">
                      {{item.dial}}
                    </option>
                  </select>
                  <!-- 
                  // Future scope: The below code is to show phone codes along with the country flags
                  <div class="phonecodeSelect">
                    <div *ngIf="selectedCodeItem!==undefined && selectedCodeItem!==null">
                      <span class="flagImg">
                        <img src="assets/flags/{{selectedCodeItem.countryCode | lowercase}}.svg" alt="selectedCodeItem.countryCode">
                      </span>
                      {{selectedCodeItem.dial}}
                    </div>
                  </div>
                  <ul class="phonecodeOptions" *ngIf="showCodeOptions">
                    <li *ngFor="let item of phoneCodeList" (click)="selectCode(item)">
                      <span class="flagImg">
                        <img src="assets/flags/{{item.countryCode | lowercase}}.svg" alt="{{item.countryName}}">
                      </span>
                      {{item.dial}}
                    </li>
                  </ul> 
                  -->
                </div>
                <div class="fw-input-phonenum">
                  <input class="fw-form-input" id="phone" type="text" formControlName="phone">
                </div>
              </div>
            </div>
          </section>

          <!-- step 3 -->
          <section class="fw-form-section" formArrayName="userExpForm" *ngIf="stepper.currentStep===3">
            <h4 class="m-b-1_5x">Work Experience</h4>
            <p>Please list your work experience, starting with the most recent.</p>
            <div *ngFor="let userExpItem of experienceFormGroup.controls; let i=index" [formGroupName]="i">
              <div class="fw-form-section-head">
                <h6>Experience {{i+1}}</h6>
                <button *ngIf="i!==0" class="fw-form-action-remove" (click)="removeExp(i)">Remove</button>
              </div>

              <div class="fw-form-el-wrap">
                <label for="jobTitle">Job Title</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="jobTitle" type="text" formControlName="jobTitle">
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="organisation">Company</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="organisation" type="text" formControlName="organisation">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="location">Location</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="location" type="text" formControlName="location">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="locationType">Location Type</label>
                <div class="fw-form-el">
                  <select class="fw-form-select" id="locationType" formControlaName="locationType">
                    <option value="-1">Please select</option>
                    <option value="on-site">On-site</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="remote">Remote</option>
                  </select>
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="jobStartDate">Start Date</label>
                <div class="fw-grouped-inputs">
                  <div class="fw-input-month">
                    <select class="fw-form-select" formControlName="jobStartMonth">
                      <option [ngValue]="month.id" *ngFor="let month of monthRange">
                        {{month.name}}
                      </option>
                    </select>
                  </div>
                  <div class="fw-input-year">
                    <select class="fw-form-select" formControlName="jobStartYear">
                      <option [ngValue]="item" *ngFor="let item of yearRange">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="jobEndDate">End Date</label>
                <div class="fw-grouped-inputs">
                  <div class="fw-input-month">
                    <select class="fw-form-select" formControlName="jobEndMonth">
                      <option [ngValue]="month.id" *ngFor="let month of monthRange">
                        {{month.name}}
                      </option>
                    </select>
                  </div>
                  <div class="fw-input-year">
                    <select class="fw-form-select" formControlName="jobEndYear">
                      <option [ngValue]="item" *ngFor="let item of yearRange">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="fw-form-el-wrap">
                <label for="jobDesc">Description</label>
                <div class="fw-form-el">
                  <textarea class="fw-form-textarea" id="jobDesc" formControlName="jobDesc"></textarea>
                </div>
              </div>
            </div>

            <div class="fw-form-section-footer">
              <button class="fw-form-sec-btn" (click)="addExp()">Add Another</button>
            </div>

          </section>

          <!-- step 4 -->
          <section class="fw-form-section" formArrayName="userEduForm" *ngIf="stepper.currentStep===4">
            <h4 class="m-b-1_5x">Educational Qualification</h4>
            <p>Please list your education, starting with the most recent.</p>
            <div *ngFor="let userEduItem of educationFormGroup.controls; let j=index" [formGroupName]="j">
              <div class="fw-form-section-head">
                <h6>Education {{j+1}}</h6>
                <button *ngIf="j!==0" class="fw-form-action-remove" (click)="removeEdu(j)">Remove</button>
              </div>
              <div class="fw-form-el-wrap">
                <label for="institution">School / University</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="institution" type="text" formControlName="institution">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="degree">Degree</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="degree" type="text" formControlName="degree">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="specialization">Field of study</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="specialization" type="text" formControlName="specialization">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="eduStartDate">Start Date</label>
                <div class="fw-grouped-inputs">
                  <div class="fw-input-month">
                    <select class="fw-form-select" formControlName="eduStartMonth">
                      <option [ngValue]="month.id" *ngFor="let month of monthRange">
                        {{month.name}}
                      </option>
                    </select>
                  </div>
                  <div class="fw-input-year">
                    <select class="fw-form-select" formControlName="eduStartYear">
                      <option [ngValue]="item" *ngFor="let item of yearRange">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="eduEndDate">Completion Date</label>
                <div class="fw-grouped-inputs">
                  <div class="fw-input-month">
                    <select class="fw-form-select" formControlName="eduEndMonth">
                      <option [ngValue]="month.id" *ngFor="let month of monthRange">
                        {{month.name}}
                      </option>
                    </select>
                  </div>
                  <div class="fw-input-year">
                    <select class="fw-form-select" formControlName="eduEndYear">
                      <option [ngValue]="item" *ngFor="let item of yearRange">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="grade">Grade</label>
                <div class="fw-form-el">
                  <input class="fw-form-input" id="grade" type="text" formControlName="grade">
                </div>
              </div>

              <div class="fw-form-el-wrap">
                <label for="activities">Activities</label>
                <div class="fw-form-el">
                  <textarea class="fw-form-textarea" id="activities" formControlName="activities"></textarea>
                </div>  
              </div>
            </div>
            
            <div class="fw-form-section-footer">
              <button class="fw-form-sec-btn" (click)="addEdu()">Add Another</button>
            </div>
          </section>
        </form>

        <div class="stepper-controls">
          <div class="left">
            <button class="fw-form-btn" *ngIf="stepper.currentStep!==1" (click)="gotoPrev()">Previous</button>
          </div>
          <div class="right">
            <button class="fw-form-btn" *ngIf="stepper.currentStep!==4" (click)="gotoNext()">Next</button>
            <button class="fw-form-prime-btn" *ngIf="stepper.currentStep===4" (click)="submit()">Finish</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
