:host {
  position: relative;
  display: flex;
  input {
    width: 100%;
    border: 1px solid #D9DEE2;
    border-radius: 3px;
    outline: none;
    padding-left: 12px;
    line-height: 32px;
    height: 32px;
    color: #48495F;
    &:focus {
      border: 1px solid #121212;
    }
  }
  .fw-combobox-list {
    position: absolute;
    top: 32px;
    max-height: 200px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #D9DEE2;
    border-radius: 3px;
    padding: 12px 0;
    z-index: 99;
  }
  .fw-combobox-item {
    padding: 0 12px;
    &:hover, &:focus {
      cursor: pointer;
      background-color: #D9DEE2;
    }
  }
}
