/* You can add global styles to this file, and also import other style files */

/* Default Browser CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	box-sizing: border-box;
}
// Variables
$prime-green: #47d7ac;
$prime-green-high: #23e3aa;
$highlight-blue: #5576F9;
$head-black: #000000;
$border-common: #D9DEE2;

// Typography
%typo-common {
  font-weight: 500;
	margin-bottom: 1rem;
	color: $head-black;
}
h1 {
	font-size: 2.25rem;
	line-height: 2.75rem;
	@extend %typo-common;
}
h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	@extend %typo-common;
}
h3 {
	font-size: 1.75rem;
	line-height: 2.25rem;
	@extend %typo-common;
}
h4 {
	font-size: 1.5rem;
	line-height: 2rem;
	@extend %typo-common;
}
h5 {
	font-size: 1.25rem;
	line-height: 2rem;
	@extend %typo-common;
}
h6 {
	font-size: 1.125rem;
	line-height: 1.75rem;
	@extend %typo-common;
}
p {
	font-size: 0.875rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}
// Utils
.hero {
	color: #B9BAF9;
}
.m-b-1_5x {
	margin-bottom: 1.5rem;
}

// App Styles
.fw-page-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
	font-size: 15px;
	line-height: 28px;
	font-family: 'Inter', sans-serif;
	color: #555555;
  //color: #48495F;
}
.fw-content-area {
	padding: 24px 0;
}

// Forms
%fw-form-el-common {
	border: 1px solid $border-common;
	border-radius: 3px;
	outline: none;
	width: 100%;
	max-width: 420px;
	padding-left: 12px;
}
.fw-form-section {
	position: relative;
	display: block;
	width: 100%;
	.fw-form-section-head {
		position: relative;
	}
	.fw-form-section-title {
		color: #5a5878;
	}
	.fw-form-section-footer {
		margin-bottom: 1rem;
	}
}
.fw-form-element {
	position: relative;
	display: flex;
	margin: 0 0 24px 0;
	label {
		display: flex;
		width: 240px;
		line-height: 32px;
		height: 32px;
	}
	input {
		@extend %fw-form-el-common;
		line-height: 32px;
		height: 32px;
		color: #48495F;
		&:focus {
			border: 1px solid #121212;
		}
	}
	textarea {
		@extend %fw-form-el-common;
  	height: 100px;
		&:focus {
			border: 1px solid #121212;
		}
	}
	select {
		@extend %fw-form-el-common;
		background: transparent;
		outline: none;
		&:focus {
			border: 1px solid #121212;
		}
	}
}
.fw-grouped-inputs {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 420px;
}
.fw-input-month {
	position: relative;
  width: calc(50% - 12px);
  margin-right: 12px;
}
.fw-input-year {
	position: relative;
	width: calc(50% - 12px);
	margin-left: 12px;
}
.fw-form-action-remove {
	position: absolute;
  top: 0;
  right: 112px;
  border: 1px solid #13294B;
  font-size: 12px;
  line-height: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0 8px;
}

// Buttons
%form-btn-common {
	position: relative;
	display: inline-block;
	border-radius: 20px;
	font-size: 14px;
  line-height: 24px;
	cursor: pointer;
}
.fw-form-prime-btn {
	@extend %form-btn-common;
	border: none;
	background-color: $prime-green;
	color: #13294b;
  padding: 6px 24px;
	&:hover, &:focus {
		background-color: $prime-green-high;
	}
}
.fw-form-btn {
	@extend %form-btn-common;
	border: none;
	background-color: #13294B;
	color: #FFFFFF;
  padding: 6px 24px;
	&:hover, &:focus {
		background-color: #2e2d71;
	}
}
.fw-form-sec-btn {
	@extend %form-btn-common;
	border: 1px solid #13294B;
	background-color: #FFFFFF;
	color: #13294B;
	padding: 4px 16px;
	&:hover, &:focus {
		border-color: #2e2d71;
	}
}
